*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
section{
    padding: 0 200px;
}
header{
    background-color: #f0f0f0 ;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px
}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: #3a6cf4;
    text-transform: uppercase;
    font-size: 1.8em;
}
.logo:hover{
    transform: scale(1.4);
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1;
    padding-left: 30px;
    position: relative;
}
.navigation a:hover::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-20%, -40%);
    
}
.navigation  a:hover{
    color: #601cfc;
}
@media(max-width:700px)
{
    .navigation a {
        padding-left: 5px;
    }

}






.main{
    padding: 100px 200px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/MHA03699.jpeg);
    background-size: cover;
    background-position:top right;
    background-attachment: fixed;
}
.main h2{
    font-size: 22px;
}
.main h2 span{
    display: inline-block;
    font-size: 40px;
    color: #4e9eff;
    padding:20px 0 ;
    font-weight: bold;
}
.main h3{
    display: block;
    font-size: 2em;
    padding: 10px 0px;
    letter-spacing: 1px;
}
.social-icons a{
    color: #4e9eff;
}
.social-icons{
    display: flex;
    font-size: 20px;
    max-width: 10vw;
    justify-content: space-between;
}
.main .but{
    display: inline-block;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    background-color: #4e9eff;
    font-weight: 600;
    font-size: 1.1em;
text-decoration: none;
}
.main .but:hover{
    background-color: #0e49f6;
    transform: scale(1.1);
}
@media(max-width:700px){
    .social-icons a{
        padding-left: 10px;
        
    }
    .main .my-job{
        font-size: 25px;
        letter-spacing: 1px;
    }
}
.title{
    padding: 30px;
    color: #3A6Cf4;
    display: flex;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    justify-content: center;
}
.cards .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 100px;
}
.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px gray;
    border-radius: 10px;
    padding: 25px;
    transition: .75s ease;
}
.content .card i{
   color: #3A6Cf4;
    display: flex;
    justify-content: center;
    font-size:100px;
    padding: 30px;
}
.inf h3{
    color: #3A6Cf4;
    text-align: center;
    padding: 15px;
}
.card:hover{
transform: scale(1.2);
}






.projects
{
    background-color: #000016;
    padding-bottom: 200px;
}
.project-card img{
    width: 100%;
    height: 350px;
}
.project-card {
    background-color: #f0f0f0;
    border: 1px solid white;
    width: 23em;
    min-height: 14em;
    text-align: center;
    border-radius: 10px ;
    margin: 20px;
    transition: .75s ease;
    overflow: hidden;
}
.project-card p{
    padding: 10px 0px;
    font-size: .9em;
    opacity: .8;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover img {
   opacity: 0.9;
}

.project-details{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.projects-cards{
    display: grid;
    grid-template-columns: repeat(aut0-fit, minmax(30px, 1fr));
}
.projects-cards .more-details{
    color:#3a6cf4;
    text-decoration: none;
}
.more-details:hover {
    color: #601cfc
}
.projects-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}


@media(max-width:700px){
    section{
        padding: 0px 30px;
    }
    .project-card{
        width: 18em;
    }
    header{
        padding: 20px 50px;
    }
}



.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.conact-cards{
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
}
.contact-card{
    width: 22em;
    box-shadow: 0 5px 25px gray;
    margin: 30px;
    padding: 40px 20px;
    text-align: center;
}
.contact h3{
    font-weight: bold;
    color: black;
    padding: 20px;
}
.contact p{
    font-size: 1.5em;
}
.contact .conact-cards .contact-card i{
    font-size: 4.5em;
    color: #3A6Cf4;
}





.footer{
    font-size: 20px;
    padding: 50px 30px ;
    background-color: #000016;
    display: flex;
    justify-content: space-between;
}
.footer span{
    font-size: 1.2em;
    color: white;
}
.footer .owner{
    color: #3A6Cf4;
}
.footer .icons a {
    color: white;
    padding: 0px 10px;
}




@media(max-width:700px){
.footer span {
        font-size: 20px;
        color: white;
    }
    .footer .icons a {
      color: white;
      padding: 0px 5px;
        }
}